
<html>

        <head>
          <link rel="stylesheet" href="styles.css">
        
          
        </head>
        
        <body>
            <div class='tasks'>
            <img src='list.png'>
            <div class='task-bd'>
            <h2>Task List</h2><br>
          <table class='center'>
              <tr>
                <td>
                  Task Name
                </td>
                <td>
                  Task Due Date
                </td>
                <td>
                  Task Description
                </td>
              </tr>
              <% for(var i=0;i<taskDb.length;i++){ %>
              <tr>
                <td>
                  <%= taskDb[i].taskName %>
                </td>
                <td>
                  <%= taskDb[i].taskDueDate %>
                </td>
                <td>
                  <%= taskDb[i].taskDescription %>
                </td>
              </tr>
              <% }%>
            </table>
          
          <br>
          
                  <h3> <a href="index.html">Home</a> </h3>
            
                  <h3> <a href="newtask.html">New Task</a> </h3>
              </div>
          </div>
        </body>
        
        </html>